body {
    margin: 0;
    background-color: #000000;
    color: #bdbdbd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fallback {
    padding: 16px;
    animation: delayed-fade-in 10s linear 0s 1 normal forwards;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}

.fatal-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 624px;
    height: auto;

    background-color: rgba(255, 0, 0, 0.15);
    border: 2px solid #d10000;
    padding: 8px;

    box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 16px;
    word-break: break-word;
}

.fatal-error .title {
    font-size: 1.2em;
    margin-bottom: 4px;
    font-weight: 600;
    color: #d60000;
}

.fatal-error .body {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 14px;
    white-space: pre-wrap;
}

@keyframes delayed-fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}